body {
    background-color: #f6f6f6;
}

.sidebar {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.content {
    display: inline-block;
    width: 90%;
    border: 1px solid #a7d7f9;
    padding: 2em;
    box-sizing: border-box;
    background-color: white;
    margin-top: 4em;
}

.logo {
    width: 100%;
}