/* noto-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_devanagari_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/static/fonts/noto.woff2') format('woff2'),
         url('/static/fonts/noto.woff') format('woff');
  }

@font-face {
    font-family: 'Unifont';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/static/fonts/unifont.woff') format('woff');
  }

body {
    background-color: #f6f6f6;
    font-family: 'Noto Sans', 'Unifont';
}

h1 {
    border-bottom: 1px solid #a2a9b1;
    line-height: 2;
}

.sidebar {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin-top: 1em;
}

.content {
    display: inline-block;
    width: 89%;
    border: 1px solid #a7d7f9;
    padding: 2em;
    box-sizing: border-box;
    background-color: white;
    margin-top: 3em;
}

.logo {
    width: 100%;
}