<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Experimental SimpleWiki with various text perturbations applied.">
        <title>Bad Search Wiki</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="sidebar"><img src="{{ url_for('static', filename='logo.png') }}" class="logo" /></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>